Gen3-3Capas/Connected Services/WSReference/WSRutas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insDireccionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCargamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idruta" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCargamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarCargamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:insDireccion" />
  </wsdl:message>
  <wsdl:message name="insDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:insDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCargamentoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCargamento" />
  </wsdl:message>
  <wsdl:message name="InsertarCargamentoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCargamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSRutasSoap">
    <wsdl:operation name="insDireccion">
      <wsdl:input message="tns:insDireccionSoapIn" />
      <wsdl:output message="tns:insDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCargamento">
      <wsdl:input message="tns:InsertarCargamentoSoapIn" />
      <wsdl:output message="tns:InsertarCargamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSRutasSoap" type="tns:WSRutasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insDireccion">
      <soap:operation soapAction="http://tempuri.org/insDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCargamento">
      <soap:operation soapAction="http://tempuri.org/InsertarCargamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRutasSoap12" type="tns:WSRutasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insDireccion">
      <soap12:operation soapAction="http://tempuri.org/insDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCargamento">
      <soap12:operation soapAction="http://tempuri.org/InsertarCargamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRutas">
    <wsdl:port name="WSRutasSoap" binding="tns:WSRutasSoap">
      <soap:address location="http://localhost:59793/WSRutas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSRutasSoap12" binding="tns:WSRutasSoap12">
      <soap12:address location="http://localhost:59793/WSRutas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>